html,
body {
  height: 100%;
}

#root {
  height: 100%;
  overflow: hidden;
}

#root > div {
  display: flex;
  height: 100%;
}

.app-header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

.app-footer {
  position: sticky;
  bottom: 0;
}
